*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-items: center;
    align-items: top;
    min-height: 100vh;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
    color: #fff;
}

.container>div{
    flex: 100%;
}

.con-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #000;
    border-radius: 3px;
}

.con-content{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.con-content>div{
    flex: 100%;
}

.con-daily{
    min-height: 250px;
    background: rgb(100, 50, 100);
}

.con-articles{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.con-article1, .con-article2, .con-article3{
    flex: 1;
    min-height: 200px;
    background: rgb(100, 104, 104);
}

.con-daily, .con-articles>div{
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

@media only screen and (max-width: 550px){
    .con-articles>div{
        flex: 100%;
    }

    .con-article1, .con-article2, .con-article3{
        min-height: 170px;
    }
}